# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Whiteboard_URP+OpenXR+SteamVR.iml
# Datasource local storage ignored files
/../../../../../../../:\SERGIO\UnityProjects\Whiteboard_URP+OpenXR+SteamVR\.idea\.idea.Whiteboard_URP+OpenXR+SteamVR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
